.product {
    border: 1px solid rgba(11, 31, 53, .15);
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 8px;
}

.product:hover {
    box-shadow: 0 1px 2px rgb(11 31 53 / 16%), 0 4px 12px rgb(11 31 53 / 8%);
}